* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right, #080808 0%, #32363a 100%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: white;
}
